<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,131}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>blue_rect_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,130},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>btn_green_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,65},{195,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,63}}</string>
                <key>sourceSize</key>
                <string>{195,63}</string>
            </dict>
            <key>btn_green_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{195,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,63}}</string>
                <key>sourceSize</key>
                <string>{195,63}</string>
            </dict>
            <key>btn_green_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{195,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,63}}</string>
                <key>sourceSize</key>
                <string>{195,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{327,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29b8ce67cb3bb3002d8860a8f380d36b:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
